<!DOCTYPE html>
<html>
    <head>
        <%- include('../index/head') %>
        <link href="./stylesheets/members-section.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <a href="/">Title</a>
        </header>
        <nav>
            <%- include('../index/nav') %>
        </nav>
        <section>
            <%- include('./members-section') %>
        </section>
        <footer>
            <%- include('../index/footer') %>
        </footer>
    </body>
    <script src="./javascripts/nav.js"></script>
</html>