*{
    margin: 0px;
}

/* header */
header{
    background-color: rgb(41, 43, 55);
    height: 100px;
    line-height: 100px;
    font-size: 36px;
    font-weight: bold;
    color: white;
    text-align: center;
}


/* nav */
nav{
    background-color: rgb(52, 59, 69);
    height: 60px;
}

.main_nav_wrapper{
    display: flex;
    padding: 0px;
    justify-content: center;
    align-items: center;
}

.main_nav_wrapper li{
    display: inline-block;
    padding: 18px 40px 18px 40px ;
    font-size: 18px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    list-style: none;
}

.main_nav_wrapper > li:hover{
    background-color: rgb(39, 155, 134);
}

.modal_sub_nav{
    position: absolute;
    background-color: rgb(39, 155, 134);
    padding: 0px;
}

.modal_sub_nav li{
    list-style: none;
    padd
}