<ul class="main_nav_wrapper">
    <li class="fst">
        <a href="/">소개</a>
        <ul class="modal_sub_nav">
            <li>
                <a href="/">연구실 소개</a>
            </li>
            <li>
                <a href="/members">구성원 소개</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="./sub/research-project.html">연구</a>
        <ul class="modal_sub_nav">
            <li>
                <a href="sub/research-project.html">연구과제</a>
            </li>
            <li>
                <a href="#">Publications</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">공지</a>
    </li>
</ul>