<h1> 연구실 소개 </h1>

<% for(let i=0; i<data.length; i++){ %>
    <article class="contents_wrapper">
        <img src="./images/<%= data[i].img %>">
        <div class="info_wrapper">
            <%=data[i].text %>
        </div>
    </article>
    <form action="/delete/<%=data[i].id%>" method="POST">
        <button>Delete</button>
    </form>
    <button onclick = "location.href = '/update/<%=data[i].id%>'">Update</button> 
<% } %>
<form enctype="multipart/form-data" action="/create" method="POST">
    <input type="file" name="img">  
    <textarea name="text"></textarea>
    <button type="submit">Create</button>