<!DOCTYPE html>
<html>
    <head>
        <link href="./stylesheets/section.css" rel="stylesheet" type="text/css">
        <%- include('./head') %>
    </head>
    <body>
        <header>
            <a href="/">Title</a>
        </header>
        <nav>
            <%- include('./nav') %>
        </nav>
        <section>
            <%- include('./update-section') %>
        </section>
        <footer>
            <%- include('./footer') %>
        </footer>
    </body>
    <script src="javascripts/nav.js"></script>
</html>