<h1> 연구실 소개 </h1>

<% for(let i=0; i<data.length; i++){ %>
    <article class="contents_wrapper">
        <img src="./images/<%= data[i].img %>">
        <div class="info_wrapper">
            <%=data[i].text %>
        </div>
    </article>
<% } %>