<ul class="main_nav_wrapper">
    <li class="fst">
        <a href="/dksekgns-admin">소개</a>
        <ul class="modal_sub_nav">
            <li>
                <a href="/dksekgns-admin">연구실 소개</a>
            </li>
            <li>
                <a href="/dksekgns-admin/members">구성원 소개</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="/dksekgns-admin/research">연구</a>
        <ul class="modal_sub_nav">
            <li>
                <a href="/dksekgns-admin/research">연구과제</a>
            </li>
            <li>
                <a href="/dksekgns-admin/publications">Publications</a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">공지</a>
    </li>
</ul>