section{
    padding-top: 160px;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contents_wrapper{
    border: solid black 1px;
    width: 900px;
    overflow: hidden;
    margin: 25px 0px;
}

.contents_wrapper > div{
    font-size: 20px;
}

.year{
    background-color: rgb(39, 155, 134);
    text-align: center;
}